body
{
text-align: center;
background-color: olive;
}
#header
{
	background-color: white;
	color:blue;
}
#tekan{
	background-color: white;
	color: blue;
}
#p{
	background-color: white;
	color: blue;
}
#a{
	background-color: white;
	color: blue;

}